# dependencies
node_modules/
**/node_modules/
botclips-mobile/node_modules/
botclips-mobile/android/
botclips-mobile/ios/
botclips-mobile/.expo/
/.pnp
.pnp.js

# build binaries
*.apk
*.zip
apk_out/
botclips-mobile/
scripts/
frontend/
vidoes/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
